.goal-item {
  background: purple;
  margin: 0.5rem 0;
  padding: 1rem;
  color: #fff;
  cursor: pointer;
}

.goal-item:hover {
  background: rgb(204, 96, 204);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
